<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Tipo</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
</head>
<body>
<div class="container mt-4">
  <a th:href="@{/nuevotipopro}" class="btn btn-primary">Insetar ti_pro</a><br>
  <table class="table">
    <thead>
    <tr>
      <!--<th>IDE</th>-->
      <th>NOMBRE</th>
      <th>PRECIO</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tipoproductos:${tipoproductos}">
      <!--<td th:text="${tipoproductos.tip_id}">${tipoproductos.tip_id}</td>-->
      <td th:text="${tipoproductos.tip_nombre}">${tipoproductos.tip_nombre}</td>
      <td th:text="${tipoproductos.tip_observacion}">${tipoproductos.tip_observacion}</td>
      <td>
        <!--<a class="btn btn-warning">Editar</a>-->
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>